<footer class="footer">

  <a class="footer-logo" href="{{ site.baseurl }}/index.html">
    {% include logo.html %}
  </a>

  <div class="row column">
    <ul class="social-icons">
      <li>
        <a class="twitter" href="https://twitter.com/unisevilla?lang=es">
          <svg class="social-icon">
            <title>Twitter</title>
            <use href="#twitter-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="facebook" href="https://es-es.facebook.com/UniversidaddeSevillaoficial/">
          <svg class="social-icon">
            <title>Facebook</title>
            <use href="#facebook-icon"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="text-center">
      <strong>
      Got questions? We can help:
        <a
          href="mailto:{{site.contact_us_email}}">{{site.contact_us_email}}</a>
      </strong>
    </p>
  </div>
</footer>
