
<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
<li class="is-dropdown-submenu-parent">
  <a href="{{ site.baseurl }}/conference/">Conference</a>
  <ul class="menu vertical nested">
    <li><a href="{{ site.baseurl }}/conference_chairs/">Conference Chairs</a></li>
    <li><a href="{{ site.baseurl }}/program_committee/">Program Committee</a></li>
    <li><a href="{{ site.baseurl }}/steering_committee/">Steering Committee</a></li>
    <li><a href="{{ site.baseurl }}/past_conferences/">Past Conferences</a></li>
  </ul>
</li>
<li>
  <a href="{{ site.baseurl }}/workshops/">Workshops</a>
</li>
<li><a href="{{ site.baseurl }}/registration/">Registration</a></li>
<li class="is-dropdown-submenu-parent">
  <a href="{{ site.baseurl }}/calls_and_dates/" >Calls</a>
  <ul class="menu vertical nested">
    <li><a href="{{ site.baseurl }}/call_for_research_papers/">Call for Research Papers</a></li>
    <li><a href="{{ site.baseurl }}/call_for_contributions/">Call for contributions</a></li>
  </ul>
</li>
<li class="is-dropdown-submenu-parent">
  <a href="/{{ site.baseurl }}program/">Program</a>
  <ul class="menu vertical nested">

  </ul>
</li>

<li class="is-dropdown-submenu-parent">
  <a href="{{ site.baseurl }}/conference_venue/">Former Venue</a>
  <ul class="menu vertical nested">
    <li><a href="{{ site.baseurl }}/conference_venue/">Conference Venue</a></li>
    <li><a href="{{ site.baseurl }}/how_to_get_there/">How to get there</a></li>
    <li><a href="{{ site.baseurl }}/where_to_stay/">Where to stay</a></li>
    <li><a href="{{ site.baseurl }}/visa_information/">Visa Information</a></li>
    <li><a href="{{ site.baseurl }}/sevilla/">Sevilla</a></li>
    <li><a href="{{ site.baseurl }}/getting_Around/">Getting around</a></li>
  </ul>
</li>

<li class="is-dropdown-submenu-parent">
  <a href="{{ site.baseurl }}/sponsors/">Sponsors</a>
  <ul class="menu vertical nested">
    <li><a href="{{ site.baseurl }}/sponsors/">Our Sponsors</a></li>
    <li><a href="{% link _pages/sponsors-information.md %}">Become a Sponsor</a></li>
  </ul>
</li>
<li><a href="{{ site.baseurl }}/co-located-events/">Co-located events</a></li>
{% comment %}
<li>
  <a href="{{ site.ticket_link }}" class="button hollow">
    Buy Tickets
  </a>
</li>
{% endcomment %}
