
<li><a href="/index.html">Home</a></li>
<li class="is-dropdown-submenu-parent">
  <a href="/conference/">Conference</a>
  <ul class="menu vertical nested">
    <li><a href="/conference_chairs/">Conference Chairs</a></li>
    <li><a href="/program_committee/">Program Committee</a></li>
    <li><a href="/steering_committee/">Steering Committee</a></li>
    <li><a href="/past_conferences/">Past Conferences</a></li>
  </ul>
</li>
<li>
  <a href="/workshops/">Workshops</a>
</li>
<li><a href="/registration/">Registration</a></li>
<li class="is-dropdown-submenu-parent">
  <a href="/calls_and_dates/" >Calls</a>
  <ul class="menu vertical nested">
    <li><a href="/call_for_research_papers/">Call for Research Papers</a></li>
    <li><a href="/call_for_contributions/">Call for contributions</a></li>
  </ul>
</li>
<li class="is-dropdown-submenu-parent">
  <a href="/program/">Program</a>
  <ul class="menu vertical nested">

  </ul>
</li>

<li class="is-dropdown-submenu-parent">
  <a href="/conference_venue/">Former Venue</a>
  <ul class="menu vertical nested">
    <li><a href="/conference_venue/">Conference Venue</a></li>
    <li><a href="/how_to_get_there/">How to get there</a></li>
    <li><a href="/where_to_stay/">Where to stay</a></li>
    <li><a href="/visa_information/">Visa Information</a></li>
    <li><a href="/sevilla/">Sevilla</a></li>
    <li><a href="/getting_Around/">Getting around</a></li>
  </ul>
</li>

<li class="is-dropdown-submenu-parent">
  <a href="/sponsors/">Sponsors</a>
  <ul class="menu vertical nested">
    <li><a href="/sponsors/">Our Sponsors</a></li>
    <li><a href="{% link _pages/sponsors-information.md %}">Become a Sponsor</a></li>
  </ul>
</li>
<li><a href="/co-located-events/">Co-located events</a></li>
{% comment %}
<li>
  <a href="{{ site.ticket_link }}" class="button hollow">
    Buy Tickets
  </a>
</li>
{% endcomment %}
