---
title: 23rd Conference on Business and Process Management
layout: base
---

<header class="subpage-header">
  {% if page.background-image %}
    <h1 style="background-image: url('{{ page.background-image }}'); background-size: cover;">
  {% else %}
    <h1>
  {% endif %}
    {% if page.heading %}
      {{ page.heading }}
    {% else %}
      {{ page.title }}
    {% endif %}
  {% if page.background-image %}
    </h1>
  {% else %}
    </h1>
  {% endif %}
</header>

<div class="content subpage-content">
  <div class="row column">

    {{ content }}

  </div>
</div><!-- end .content -->
