---
layout: base
---

<header class="header">
  <div class="row">
    <figure class="hero-picture">
      <picture>
        <source type="image/jpg" srcset="/image/torre_de_oro.jpg">
        <img
          src="https://rociogoni14.github.io/{{ site.baseurl }}/image/torre_de_oro.jpg"
          alt="Torre de oro"
          width="352"
          height="312"
          loading="lazy"
          decoding="async"
        >
        
      </picture>
      <figcaption><a href="https://visitasevilla.es/torre-del-oro/" target="_blank">Torre del Oro</a></figcaption>
    </figure>
    <figure class="hero-picture hero-picture--odd">
      <picture>
        <source type="image/jpg" srcset="/image/Catedral.jpg">
        <img
          src="{{site.url}}/{{ site.baseurl }}/image/Catedral.jpg"
          alt="View of the Cathedral of Seville"
          width="352"
          height="312"
          loading="lazy"
          decoding="async"
        >
      </picture>
      <figcaption><a href="https://www.catedraldesevilla.es/" target="_blank">Cathedral of Seville</a></figcaption>
      
    </figure>
    <div class="header-text">
      <h1 style="font-weight: 800; color: rgb(147, 245, 245);">23rd Int. Conference on Business Process Management </h1>

      <div class="event-info-detail">
        <p style="-webkit-text-stroke: 2px black; font-weight: 400;color: rgb(147, 245, 245)">
          <strong>BPM 2025</strong>
          <strong>Seville</strong>
        </p>
      </div>

      <a class="button button--bright button--tickets" href="/registration/">Get Registered!</a>
    </div>
  </div>
</header>


<div class="content">

<section class="section-pad theme-brand-color3">
  <p class="lead column large-9 large-centered text-center">BPM2025 will be held in Sevilla and will host hundreds of attendees from all over the world!</p>
  {% include schedule-date-cards.html %}
</section>

{% comment %}
<div class="photo-hero-inline tint-brand-color1">
  <img
    src="/static/img/attendees.jpg"
    alt="Attendees holding a sign for DjangoCon 2019"
     />
</div>
{% endcomment %}

<section class="section-pad theme-medium-gray">
  <div class="row column v-pad-bottom text-center">
    <h2>23rd Int. Conference on Business Process Management</h2>
  </div>
  <div class="row">
    <div class="column">
      <div class="lead">
        <p>BPM 2025 is the 23rd conference in a series that provides the most prestigious forum for researchers and practitioners in the field of Business Process Management.

          Over the past decade, the conference has built its reputation by showcasing leading-edge research of the highest quality together with talks, tutorials and discussions by the most renown thought leaders and innovators in the field. The BPM conference series embraces the diversity and richness of the BPM field and serves as a melting pot for experts from a mix of disciplines including Computer Science, Information Systems Engineering, and Management.</p>
      </div>
    </div>
  </div>
</section>



{% include sponsor-footer.html %}

{% comment %}
<div class="photo-hero-inline curve-top tint-brand-color1">
  <img
    src="/static/img/courtyard-crowd.jpg"
    alt="The crowd of DjangoCon 2019 attendees"
    loading="lazy"
     />
</div>
{% endcomment %}

</div><!-- end .content -->
